@import "./foundation/settings";
@import "~foundation-sites/scss/foundation";
@import "~antd/dist/antd.css";
@import url("https://fonts.googleapis.com/css?family=Merriweather|Muli:300");
@include foundation-everything;

// place global css here
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  -moz-tab-size: 4;
  tab-size: 4;
  --clr-gray200: #cfd8dc;
  --clr-primary: #d50000;
  --clr-secondary: rgb(228, 215, 215);
  --clr-tertiary: #f86767;
  --radius: 0.2rem;
}

::selection {
  background: #f86767;
}

body {
  background-image: url("https://dinner-bell-app.s3.amazonaws.com/back-splash-2-1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.button:active,
.button:focus,
.button:hover {
  outline-color: var(--clr-tertiary);
}

.home-button {
  font-weight: bolder;
  font-size: 18px;
}

.ant-message-loading,
.ant-message-info {
  svg {
    color: var(--clr-tertiary);
  }
}

.ant-popover-message {
  svg {
    color: var(--clr-tertiary);
  }
}

.pantry-button {
  font-size: 17px;
}

.ant-btn {
  border-color: var(--clr-tertiary);
}

.ant-btn:hover {
  background-color: var(--clr-tertiary);
  color: white;
}

.ant-btn-primary {
  background-color: var(--clr-tertiary);
}

.profile-button {
  font-size: 17px;
}

.sign-in-button {
  align-self: center;
  border-radius: 40px;
}

.sign-up-button {
  align-self: center;
  margin: 0;
  border-radius: 40px;
}

.sign-out-button {
  align-self: center;
  margin: 0;
  border-radius: 40px;
}

.navigation-container {
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-top: 10rem;
  width: 75%;
  margin: auto;
  align-self: center;
  padding: 2rem;
  border-radius: 6px;
}

.sign-in-container {
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-top: 10rem;
  width: 75%;
  margin: auto;
  align-self: center;
  padding: 2rem;
  border-radius: 6px;
}

.sign-in-form {
  align-self: center;
}

.email-input {
  width: 50%;
  margin: auto;
}

.password-input {
  width: 50%;
  margin: auto;
}

.registration-container {
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-top: 10rem;
  width: 75%;
  margin: auto;
  align-self: center;
  padding: 2rem;
  border-radius: 6px;
}

.home-page {
  position: absolute;
  height: auto;
  width: auto;
  margin-top: 17%;
  left: 10%;
  right: 10%;
  vertical-align: middle;
  align-items: center;
}

.home-page-title {
  font-family: inherit;
  font-size: 140px;
  letter-spacing: 3px;
  color: var(--clr-primary);
  text-shadow: 2px 2px rgb(92, 12, 12);
  font-style: italic;
  padding: 0px;
  line-height: 120px;
}

.guide-container {
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-top: 10rem;
  width: 75%;
  margin: auto;
  text-align: center;
  padding: 2rem;
  border-radius: 6px;
  font-family: "Merriweather";
}

.guide-points {
  font-size: 16px;
  background-color: rgba(255, 255, 255, 0.8);
  opacity: 0.8;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 4px;
  font-family: Muli;
  font-weight: bold;
}

.bio {
  text-align: center;
}

.start-button {
  height: 3.5rem;
  padding: 1rem;
  padding-bottom: 4.5rem;
  border-radius: 45px;
}

.bio-card {
  width: 270px;
  height: auto;
  border-radius: 15px;
  margin: auto;
  cursor: default;
}

.ingredient-form-label {
  background-color: #f1beb0;
  margin: auto;
  border-radius: 16px;
}

.ingredient-form-container {
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 100%;
  margin: auto;
  align-self: center;
  padding: 2rem;
  border-radius: 6px;
  margin-bottom: 2rem;
}

.edit-form-container {
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 100%;
  margin: auto;
  align-self: center;
  padding: 2rem;
  border-radius: 6px;
  margin-bottom: 2rem;
}

.recipe-display-container {
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 100%;
  margin: auto;
  align-self: center;
  padding: 2rem;
  border-radius: 6px;
}

.css-g1d714-ValueContainer {
  height: 50px;
  border-radius: 6px;
}

.ingredient-entry-button {
  border-radius: 12px;
}

.ingredient-list-container {
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 100%;
  margin: auto;
  align-self: center;
  padding: 2rem;
  border-radius: 6px;
  margin-bottom: 2rem;
}

.ingredient-list {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
}

.ingredient-list-item {
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  margin: auto 30px;
  margin-bottom: 20px;
  width: 15vw;
  min-width: 260px;
}

.ingredient-left-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 50%;
}

.ingredient-name {
  font-size: 20px;
  text-transform: capitalize;
}

.ingredient-icons {
  display: flex;
  justify-content: space-around;
}

.ingredient-icon {
  font-size: 25px;
  margin: 0 5px;
  color: var(--clr-primary);
}

.search-recipe-button {
  border-radius: 14px;
}

.recipe-button-container {
  text-align: center;
  width: 200px;
  height: 80px;
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: auto;
  border-radius: 14px;
}

.tile-container {
  font-family: "Merriweather", "Muli";
  margin: 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(12rem, 16rem));
  grid-gap: 2rem;
  justify-content: center;
  border-radius: 6px;
}

.grid-container {
  max-width: 75rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 6rem;
  margin-bottom: 2rem;
  border-radius: 6px;
  padding-bottom: 2rem;
}

.show-container {
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 75%;
  margin: auto auto 2rem;
  align-self: center;
  padding: 1rem;
  border-radius: 6px;
}

.title-container {
  width: 80%;
  margin: auto;
}

.show-title {
  text-transform: capitalize;
}

.ready-serving-info {
  display: flex;
  flex-direction: row;
  font-size: 16px;
  font-style: bold;
  flex-direction: row;
  justify-content: center;
}

.ready-in {
  margin-right: 5rem;
  padding-right: 1rem;
}

.show-columns {
  display: flex;
  justify-content: space-around;
  background-color: rgba($color: white, $alpha: 0.95);
  border-radius: 6px;
}

ul.show-ingredients {
  list-style-type: none;
  margin: none;
  padding: none;
}

.show-page-left-column {
  display: flex;
}

.show-image {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: center;
  max-width: 100%;
  height: auto;
  border-radius: 6px;
  margin-left: 1.5rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.show-page-right-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 50%;
  width: 2vw;
  align-self: center;
}

.show-ingredients {
  text-transform: capitalize;
}

.missed-ingredients {
  img {
    max-width: 75px;
    max-height: 75px;
    padding-left: 5px;
  }
}

.profile-container {
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 90%;
  margin: auto;
  align-self: center;
  border-radius: 6px;
}

.back-button {
  // display: inline-block;
  float: left;
  margin-right: 0;
  cursor: pointer;
}

.back-button-text {
  background-color: #f1beb0;
  padding: 0.25rem;
  border-radius: 16px;
}

.modal-blurb {
  background-color: #f1beb0;
  width: 17%;
  margin: auto;
  border-radius: 16px;
}

.modal-link {
  cursor: pointer;
  color: #d50000;
}

.card {
  overflow: hidden;
  box-shadow: 0px 2px 20px var(--clr-gray200);
  border-radius: 1.5%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  transition: transform 200ms ease-in;
  text-align: center;
  padding-bottom: 1rem;

  &__image {
    height: 12rem;
    width: 100%;
    object-fit: cover;
  }

  &__title {
    padding: 1rem;
  }

  &__description {
    padding: 0 1rem;
  }

  &__btn-container {
    display: flex;
    align-items: space-evenly;
  }

  &__btn {
    padding: 1rem;
    font-family: inherit;
    font-weight: bold;
    font-size: 1rem;
    margin: 1rem;
    border: 2px solid var(--clr-primary);
    background: transparent;
    color: var(--clr-primary);
    border-radius: var(--radius);
    transition: background 200ms ease-in, color 200ms ease-in;
    cursor: pointer;
  }
  &:hover {
    transform: scale(1.02);
  }

  &:hover &__btn {
    background: var(--clr-primary);
    color: white;
  }
}

.partial {
  filter: opacity(0.5);
}

input {
  display: flex;
  align-items: center;
  flex-direction: column;
}

h1 {
  font-family: "Merriweather", Serif;
  font-size: 46px;
}

.top-bar {
  top: 0px;
  position: fixed;
  width: 100%;
  margin-bottom: 2rem;
  z-index: 1;
}

#recipe-show-link {
  color: black;
}
