@import "./foundation/settings";
@import "~foundation-sites/scss/foundation";
@import "~antd/dist/antd.css";
@include foundation-everything;

// place global css here
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


:root {
  -moz-tab-size: 4;
  tab-size: 4;
  --clr-gray200: #cfd8dc;
  --clr-primary: #d50000;
  --clr-secondary: rgb(228, 215, 215)
  --radius: 0.2rem;
}

::selection {
  background: #f86767;;
}

body {
  background-image: url("../images/back-splash-2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.home-button {
  font-weight: bolder;
  font-size: 18px;
}

.pantry-button {
  font-size: 17px;
}

.profile-button {
  font-size: 17px;
}

.sign-in-button {
  align-self: center;
}

.sign-up-button {
  align-self: center;
  margin: 0;
}

.sign-out-button {
  align-self: center;
  margin: 0;
}

.sign-in-container {
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-top: 10rem;
  width: 75%;
  margin: auto;
  align-self: center;
  padding: 2rem;
  border-radius: 1%;
}

.sign-in-form {
  align-self: center;
}

.email-input {
  width: 50%;
  margin: auto;
}

.password-input {
  width: 50%;
  margin: auto;
}

.registration-container {
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-top: 10rem;
  width: 75%;
  margin: auto;
  align-self: center;
  padding: 2rem;
  border-radius: 1%;
}

.home-page {
  position: absolute;
  height: auto;
  width: auto;
  margin-top: 17%;
  left: 10%;
  right: 10%;
  vertical-align: middle;
  align-items: center;
}

.home-page-title {
  font-family: inherit;
  font-size: 140px;
  letter-spacing: 3px;
  color: var(--clr-primary);
  text-shadow: 2px 2px rgb(92, 12, 12);
  text-transform: lowercase;
  font-style: italic;
  padding: 0px;
  line-height: 120px;
}

.start-button {
  height: 3.5rem;
  padding: 1rem;
  padding-bottom: 4.5rem;
}

// .pantry-container {
//   padding-bottom: 2rem;
// }

.ingredient-form-container {
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 100%;
  margin: auto;
  align-self: center;
  padding: 2rem;
  border-radius: 1%;
  margin-bottom: 2rem;
}

.recipe-display-container {
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 100%;
  margin: auto;
  align-self: center;
  padding: 2rem;
  border-radius: 1%;
}

.css-g1d714-ValueContainer {
  height: 50px;
  border-radius: 1%;
}

.ingredient-form-label {
  font-size: 30px;
}

.ingredient-list-container {
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 100%;
  margin: auto;
  align-self: center;
  padding: 2rem;
  border-radius: 1%;
  margin-bottom: 2rem;
}

.ingredient-list {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
}

.ingredient-list-item {
  display: flex;
  justify-content: space-around;
  margin: auto 30px;
  margin-bottom: 20px;
  width: 15vw;
  min-width: 260px;
}

.ingredient-left-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 50%;
}

.ingredient-name {
  font-size: 20px;
  text-transform: capitalize;
}

.ingredient-icons {
  display: flex;
  justify-content: space-around;
}

.ingredient-icon {
  font-size: 25px;
  margin: 0 5px;
}

.tile-container {
  font-family: "Merriweather", "Muli";
  margin: 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(12rem, 16rem));
  grid-gap: 2rem;
  justify-content: center;
  border-radius: 1%;
}

.grid-container {
  font-family: "Merriweather", "Muli";
  max-width: 75rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 6rem;
  margin-bottom: 2rem;
  border-radius: 1%;
  padding-bottom: 2rem;
}

.show-container {
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 75%;
  margin: auto auto 2rem;
  align-self: center;
  border-radius: 1%;
}

.show-image {
  max-width: 100%;
  height: auto;
}

.spinner-container {
  display: flex;
}

.spinner-space {
  align-self: center;
}

.profile-container {
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 90%;
  margin: auto;
  align-self: center;
  border-radius: 1%;
}

.card {
  overflow: hidden;
  box-shadow: 0px 2px 20px var(--clr-gray200);
  border-radius: 1.5%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  transition: transform 200ms ease-in;
  text-align: center;
  padding-bottom: 1rem;

  &__image {
    height: 12rem;
    width: 100%;
    object-fit: cover;
  }

  &__title {
    padding: 1rem;
  }

  &__description {
    padding: 0 1rem;
  }

  &__btn-container {
    display: flex;
    align-items: space-evenly;
  }

  &__btn {
    padding: 1rem;
    font-family: inherit;
    font-weight: bold;
    font-size: 1rem;
    margin: 1rem;
    border: 2px solid var(--clr-primary);
    background: transparent;
    color: var(--clr-primary);
    border-radius: var(--radius);
    transition: background 200ms ease-in, color 200ms ease-in;
    cursor: pointer;
  }
  &:hover {
    transform: scale(1.02);
  }

  &:hover &__btn {
    background: var(--clr-primary);
    color: white;
  }
}

input {
  display: flex;
  align-items: center;
  flex-direction: column;
}

h1 {
  font-family: "Merriweather", Serif;
  font-size: 46px;
}

.top-bar {
  top: 0px;
  position: fixed;
  width: 100%;
  margin-bottom: 2rem;
}

#recipe-show-link {
  color: black;
}
